doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible",content="IE=Edge")
    title=title
    meta(name='keywords',content='')
    meta(name='description',content='')
    link(rel='stylesheet', href='/common.css')
    link(rel='stylesheet', href='/#{staticTag}.css')
  body
    #little-project
      .little-project-wrap
        include header
        block content
        include footer
    script(src='/common.js')
    script(src='/#{staticTag}.js')


